#  Ignore vs code stuffs
.vscode/
ppms.code-workspace

#  Ignore backup
bak/
run_backup.bat

#  Ignore documentation
docs/

#  Ignore python stuffs
__pycache__/

#  Ignore _tests
_tests/

#  Ignore settings.json
settings.json
